*{
  margin: 0;
  padding: 0;
}

.square {
  display: flex;
  width: 90%;
  height:35vw;
  background-image: linear-gradient(220deg, rgba(37,141,236,100),  rgba(40,146,244,50), rgba(40,146,244,15), rgba(40,146,244,0));
  border-radius:20px; 
  align-content: center;
  margin-left: 5%;
  color:rgb(255, 255, 255);
  margin-bottom: 5%;
}

.Welcome{
  text-align: center;
  margin-top:2%;
  font-size: 5vw;
  color:rgb(39,47,77);
}

.float-container{
  padding: 20px;
  width: 100%;
}

.float-childleft{
  width: 50%;
  float: left;
  padding: 20px;
  color:white;
  font-size: 4vw;
  float: left;
  margin-top:10%;
  
}
.float-childright{
  margin-top:-7em;
  margin-left: 40%;
  height: 100px;
  float: right;
  padding: 10px;
  color:rgb(255, 255, 255);
  font-size: 1.8vw;
}


